# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [14]:
grouped = data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68584 entries, 0 to 68583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   68584 non-null  int64
 1   FirstName    68584 non-null  object
 2   LastName     68584 non-null  object
 3   SalesID      68584 non-null  int64
 4   ProductID    68584 non-null  int64
 5   ProductName  68584 non-null  object
 6   Quantity     68584 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.7+ MB

In [23]:
filtered = data[['CustomerID', 'ProductName', 'Quantity']]

In [77]:
grouped = filtered.groupby(by=['CustomerID', 'ProductName']).sum()
grouped
#grouped.first()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [55]:
pivot = pd.pivot_table(data= grouped, index= 'ProductName', columns= 'CustomerID')
pivot.fillna(0, inplace=True)
pivot

                                  Quantity                                \
CustomerID                           33    200   264   356   412   464
ProductName
Anchovy Paste - 56 G Tube              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp      0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Sausage Rolls              0.0   0.0   0.0   0.0   0.0   0.0
Apricots - Dried                       1.0   0.0   0.0   0.0   1.0   0.0
...                                    ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                   0.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                          0.0   0.0   0.0   0.0   0.0   0.0
Yogurt - Blueberry, 175 Gr             0.0   1.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla                1.0   0.0   0.0   1.0   0.0   0.0
Zucchini - Yellow                      0.0   0.0   0.0   0.0   0.0   0.0

                                                           ...              \
CustomerID                        477   639   649   669    ... 97697 97753
ProductName                                                ...
Anchovy Paste - 56 G Tube           0.0   1.0   0.0   0.0  ...   0.0  25.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0  ...  25.0  25.0
Appetizer - Mushroom Tart           0.0   1.0   0.0   0.0  ...  25.0   0.0
Appetizer - Sausage Rolls           0.0   0.0   0.0   0.0  ...   0.0   0.0
Apricots - Dried                    0.0   0.0   0.0   0.0  ...   0.0  25.0
...                                 ...   ...   ...   ...  ...   ...   ...
Yeast Dry - Fermipan                0.0   0.0   0.0   0.0  ...   0.0   0.0
Yoghurt Tubes                       0.0   0.0   2.0   0.0  ...   0.0   0.0
Yogurt - Blueberry, 175 Gr          0.0   0.0   0.0   0.0  ...  25.0   0.0
Yogurt - French Vanilla             2.0   0.0   0.0   1.0  ...   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0  ...   0.0   0.0

                                                                             \
CustomerID                        97769 97793 97900 97928 98069 98159 98185
ProductName
Anchovy Paste - 56 G Tube           0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart           0.0   0.0   0.0   0.0   0.0   0.0  25.0
Appetizer - Sausage Rolls           0.0   0.0  25.0  25.0  25.0   0.0  25.0
Apricots - Dried                    0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                                 ...   ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                       0.0   0.0   0.0   0.0   0.0  25.0   0.0
Yogurt - Blueberry, 175 Gr          0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla            25.0   0.0   0.0   0.0   0.0   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0   0.0   0.0   0.0


CustomerID                        98200
ProductName
Anchovy Paste - 56 G Tube           0.0
Appetizer - Mini Egg Roll, Shrimp   0.0
Appetizer - Mushroom Tart           0.0
Appetizer - Sausage Rolls           0.0
Apricots - Dried                    0.0
...                                 ...
Yeast Dry - Fermipan                0.0
Yoghurt Tubes                       0.0
Yogurt - Blueberry, 175 Gr          0.0
Yogurt - French Vanilla            25.0
Zucchini - Yellow                   0.0

[452 rows x 1000 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [56]:
distancias = squareform(pdist(pivot.T, 'euclidean'))
distancias.shape

(1000, 1000)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [57]:
distances = pd.DataFrame(1/(1 + distancias), index=pivot.columns, columns=pivot.columns)
distances.head()

                     Quantity                                          \
CustomerID              33        200       264       356       412
         CustomerID
Quantity 33          1.000000  0.077421  0.087047  0.081800  0.080634
         200         0.077421  1.000000  0.078448  0.076435  0.073693
         264         0.087047  0.078448  1.000000  0.080070  0.081800
         356         0.081800  0.076435  0.080070  1.000000  0.076435
         412         0.080634  0.073693  0.081800  0.076435  1.000000

                                                                       ...  \
CustomerID              464       477       639       649       669    ...
         CustomerID                                                    ...
Quantity 33          0.082709  0.074573  0.083020  0.081503  0.080070  ...
         200         0.075255  0.075956  0.076435  0.077674  0.076923  ...
         264         0.080350  0.076923  0.080634  0.082100  0.078448  ...
         356         0.078187  0.075025  0.082403  0.077171  0.075956  ...
         412         0.078711  0.075025  0.082403  0.078187  0.078448  ...

                                                                       \
CustomerID              97697     97753     97769     97793     97900
         CustomerID
Quantity 33          0.004811  0.004669  0.004412  0.005019  0.004312
         200         0.004824  0.004681  0.004431  0.005047  0.004311
         264         0.004822  0.004674  0.004416  0.005035  0.004322
         356         0.004816  0.004671  0.004416  0.005038  0.004310
         412         0.004810  0.004702  0.004414  0.005034  0.004318


CustomerID              97928     98069     98159     98185     98200
         CustomerID
Quantity 33          0.004515  0.004583  0.004355  0.004167  0.004333
         200         0.004521  0.004614  0.004367  0.004166  0.004335
         264         0.004543  0.004595  0.004365  0.004179  0.004333
         356         0.004526  0.004578  0.004365  0.004175  0.004339
         412         0.004530  0.004578  0.004367  0.004177  0.004349

[5 rows x 1000 columns]

In [70]:
'''
Como ejemplo, usarÃ© el usuario 33 y revisar con quien presenta mas compatibilidad
'''
cust33 =distances.iloc[0][:]
cust33.sort_values(ascending=False, inplace=True)
cust33 = cust33.index[1:6]
cust33

MultiIndex([('Quantity',  264),
            ('Quantity', 3535),
            ('Quantity', 3317),
            ('Quantity', 2503),
            ('Quantity', 3305)],
           names=[None, 'CustomerID'])

In [ ]:
'''
Las lista previa es el top 5 de usuarios mas parecidos, ordenados de mas a menos.
'''

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [74]:
custIDs = [i[1] for i in cust33]
custIDs

[264, 3535, 3317, 2503, 3305]

In [86]:
pivot.columns[:5]

MultiIndex([('Quantity',  33),
            ('Quantity', 200),
            ('Quantity', 264),
            ('Quantity', 356),
            ('Quantity', 412)],
           names=[None, 'CustomerID'])

In [105]:
filtered = pivot.loc[:, ('Quantity',  custIDs)]
filtered.head()

                                  Quantity
CustomerID                            264  2503 3305 3317 3535
ProductName
Anchovy Paste - 56 G Tube              0.0  0.0  0.0  0.0  1.0
Appetizer - Mini Egg Roll, Shrimp      0.0  0.0  0.0  0.0  0.0
Appetizer - Mushroom Tart              0.0  1.0  0.0  0.0  0.0
Appetizer - Sausage Rolls              0.0  1.0  0.0  0.0  0.0
Apricots - Dried                       0.0  0.0  0.0  0.0  1.0

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [106]:
filtered.shape

(452, 5)

In [118]:
#filtered.sort_values(ascending=False, inplace=False)
ordered = filtered.T.aggregate('sum')
ordered.sort_values(ascending=False, inplace = True)
ordered.head(10)

ProductName
Wine - Ej Gallo Sierra Valley    3.0
Butter - Unsalted                3.0
Pepper - Black, Whole            3.0
Wine - Blue Nun Qualitatswein    3.0
Soup - Campbells Bean Medley     3.0
Towels - Paper / Kraft           3.0
Anchovy Paste - 56 G Tube        2.0
Garbage Bags - Clear             2.0
Steam Pan - Half Size Deep       2.0
Tart Shells - Sweet, 4           2.0
dtype: float64

In [119]:
ordered[:10].index

Index(['Wine - Ej Gallo Sierra Valley', 'Butter - Unsalted',
       'Pepper - Black, Whole', 'Wine - Blue Nun Qualitatswein',
       'Soup - Campbells Bean Medley', 'Towels - Paper / Kraft',
       'Anchovy Paste - 56 G Tube', 'Garbage Bags - Clear',
       'Steam Pan - Half Size Deep', 'Tart Shells - Sweet, 4'],
      dtype='object', name='ProductName')

In [116]:
#filtered.loc["Anchovy Paste - 56 G Tube", :]

In [117]:
#for product in filtered.index:
    #filtered.loc[product, ("Quantity",'Sum')] = sum(filtered.loc[product, :])

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [130]:
Sugerencias = pivot.loc[ordered.index, ('Quantity',33)]
Sugerencias.head()

ProductName
Wine - Ej Gallo Sierra Valley    0.0
Butter - Unsalted                0.0
Pepper - Black, Whole            1.0
Wine - Blue Nun Qualitatswein    0.0
Soup - Campbells Bean Medley     0.0
Name: (Quantity, 33), dtype: float64

In [132]:
type(Sugerencias)

pandas.core.series.Series

In [139]:
import numpy as np
indices_deseados = (np.where(Sugerencias == 0))[0][:5]
indices_deseados

array([0, 1, 3, 4, 6], dtype=int64)

In [140]:
Sugerencias[indices_deseados]

ProductName
Wine - Ej Gallo Sierra Valley    0.0
Butter - Unsalted                0.0
Wine - Blue Nun Qualitatswein    0.0
Soup - Campbells Bean Medley     0.0
Anchovy Paste - 56 G Tube        0.0
Name: (Quantity, 33), dtype: float64

In [ ]:
'''La anterior es la lista de productos que el usuario 33 no ha comprado y es la mayor compra de los usuarios coincidentes'''

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.